@model Tuple<string,string,string>
    <a class="card d-shadow clear" href="@Model.Item1" style="background-color: whitesmoke;">
        <img src="~/img/@Model.Item2" class="card-img-top" alt="...">
        <div class="m-3">
            <h1 class="card-title" style="text-align:center;margin-top:-1.4em;color:darkslategray;">@Model.Item3</h1>
        </div>
    </a>