@model Dealership.Models.Vehicle
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="container">

        <form asp-action="Vehicle">
            <div class="row mb-3">
                <div class="col-xs-12 col-md-8 col-xl-9">

                    <div class="card bg-light mb-3">
                        <div class="card-header d-flex">
                            <h5 class="mb-0 mr-1"><i class="fal fa-car fa-fw mr-3"></i>Vehicle Brief</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-row">
                                <div class="col-12 form-group">
                                    <label asp-for="VIN" class="control-label"></label>
                                    <div class="input-group">
                                        <input asp-for="VIN" class="form-control" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" formaction="NHTSAVinDecode" formnovalidate="formnovalidate" type="submit">Load Data</button>
                                        </div>
                                    </div>
                                    <span asp-validation-for="VIN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label asp-for="Make" class="control-label"></label>
                                    <input asp-for="Make" class="form-control" />
                                    <span asp-validation-for="Make" class="optional text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Model" class="control-label"></label>
                                    <input asp-for="Model" class="form-control" />
                                    <span asp-validation-for="Model" class="text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Trim" class="control-label"></label>
                                    <input asp-for="Trim" class="form-control" />
                                    <span asp-validation-for="Trim" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label asp-for="Year" class="control-label"></label>
                                    <input asp-for="Year" class="form-control" />
                                    <span asp-validation-for="Year" class="optional text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Condition" class="control-label"></label>
                                    <input asp-for="Condition" class="form-control" />
                                    <span asp-validation-for="Condition" class="text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Color" class="control-label"></label>
                                    <input asp-for="Color" class="form-control" />
                                    <span asp-validation-for="Color" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="optional text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Mileage" class="control-label"></label>
                                    <input asp-for="Mileage" class="form-control" />
                                    <span asp-validation-for="Mileage" class="text-danger"></span>
                                </div>
                                <div class="col-4 form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <input id="ImgUpload" type="file" />
                                    <input hidden asp-for="Image" />
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <a asp-action="Index" class="btn btn-outline-primary float-left">< Back to Inventory</a>
                            <input type="submit" value="Edit Details >" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-xl-3 ">
                    <style>
                        .card {
                            height: unset !important
                        }
                    </style>

                    @Component.InvokeAsync("Vehicle", Model).Result

                    <button class=" mt-3 btn btn-outline-primary w-100" formaction="UpdatePreview" formnovalidate="formnovalidate" type="submit">Update Preview</button>
                </div>
            </div>

        </form>
    </div>

@section Scripts{ 

    <script>

        $("#ImgUpload").change(function () { if (this.value != "") { PostFile(); } });

        function PostFile() {

            if (!$("form").valid())
            {
                $("#ImgUpload").val("");
                return;
            }

            var formData = new FormData();
            formData.append('file', $('#ImgUpload')[0].files[0]);
            formData.append('VIN', $('#VIN').val());

            var _url = '@Url.Action("UploadFile", "Vehicles")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    $("#Image").val(result);
                    $(".card-img-top").attr("src", result);
                },
                error: function (jqXHR) { $("#ImgUpload").val(""); }
            });

        }

        
    </script>

}

